.container
  .content.mt-5
    - @videos.each do |video|
      .gif.mb-5
        = link_to video_path(video) do
          = image_tag video.attachment_url, class: 'img-show mb-2 mt-2 ml-3'
        br
        = link_to 'Изменить', edit_video_path(video), class: 'ml-3'
        = link_to 'Удалить',video_path(video), class: 'ml-3', method: :delete
  = link_to 'Загрузить файл', new_video_path, class: 'btn btn-primary'