.container_show
  .content.mt-5.ml-5
    = image_tag @video.attachment_url.to_s, class: 'img-show-large'
    br
    = link_to 'Изменить', edit_video_path(@video)
    = link_to 'Удалить',video_path(@video), class: 'ml-3', method: :delete