.container {
  .img-show {
    width: 300px;
    height: 250px;
  }
  .video_img {
    width: 50px;
    height: 50px;
  }
  .gif {
    border-radius: 10px;
    background-color: #F8F8FF;
  }
}
.container_show {
  .img-show-large {
    width: 600px;
    height: 450px;
  }
}
.container-form {
  margin: 10% auto;
  border-radius: 10px;
  width: 30%;
}
.camera {
  width: 40px;
  height: 50px;
}
.flash_success{
  color: green;
  background-color: #98FB98;
  padding-left: 46%
}
.box_flash {
  margin-top: 13px;
}