nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  = image_tag 'camera.png', class: 'navbar-brand camera'
  button.navbar-toggler aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button"
    span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav
      = link_to 'Home', videos_path, class: 'nav-item nav-link'
      = link_to 'New', new_video_path, class: 'nav-item nav-link'