doctype html
html
  head
    title VideoConverter
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body

    = render 'layouts/nav_bar'
    span.box_flash.mt-5
      p.flash_success = flash[:success]
    = yield

